@model IEnumerable<HAM_API.Models.tbl_department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Data/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- Main Content -->

@if (Model.Count() > 0)
{
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Department</h4>
                <a class="float-lg-right btn btn-primary" href="/User/Create">Create a department</a>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr style="Background: #456bd9">
                                <th style="color:white"> Department name</th>
                                <th style="color:white"> Description</th>
                                <th style="color:white"> Tuỳ chọn</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th style="color:white"> Department name</th>
                                <th style="color:white"> Description</th>
                                <th style="color:white"> Tuỳ chọn</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-2">
                                        <a href="/Department/Details/@item.id">
                                            <b>@Html.DisplayFor(modelItem => item.name)</b>
                                        </a>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>

                                    <td style="text-align : center">
                                        <p>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.id }, new { @class = "btn btn-primary" })
                                        </p>
                                        <p>
                                            @Html.ActionLink("Xoá", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                                        </p>

                                    </td>
                                </tr>
                            }




                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
}
else
{
    <h4 class="m-lg-5 font-weight-light text-primary">No department exists</h4>
}