@model IEnumerable<HAM_API.Models.tbl_department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Data/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Main Content -->
@if (Model.Count() > 0)
{
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center">
                <h4 class="m-0 font-weight-bold text-primary flex-grow-1">Danh sách chuyên khoa</h4>
                <form class="form-inline" id="searchForm">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <a class="btn btn-success ml-3" href="/Department/Create">Tạo mới</a>
            </div>
            <div class="card-body table-wrapper-scroll-y">


                @{
                    Html.RenderPartial("_DepartmentTable");
                }

            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">No department exists</h4>
                <a class="float-lg-right btn btn-primary" href="/Department/Create">Tạo mới</a>
            </div>
        </div>
    </div>
}

@section scripts {

    <script>
        // Handle form submission
        $('#searchForm').submit(function (event) {
            event.preventDefault();
            // Perform search operation
            var searchKeyword = $(this).find('input[type="text"]').val();

            // AJAX request to search departments
            $.ajax({
                url: '/Department/Search',
                type: 'POST',
                data: { keyword: searchKeyword },
                success: function (data) {
                    // Update table content with search results
                    $('#dataTable').html(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                }
            });
        });
    </script>
    <style>
        .table-wrapper-scroll-y {
            max-height: 400px;
            overflow-y: auto;
        }
    </style>
}
